<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar e Listar Empresas</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<img src="/images/8MQOTh-LogoMakr.png" alt="Logo Argos AI">
<h1>Cadastrar e Listar Empresas</h1>
<ul>
    <li><a href="/empresas/cadastrar">Cadastrar Empresa</a></li>
    <li><a href="/empresas/listar">Listar Empresas</a></li>
</ul>
</body>
</html>
